@{
    ViewData["Title"] = "Privacy Policy";
}

<script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=6c9a4d4743232' async='true'></script>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<style>
    body {
        background-color: #3BE6D3;
    }
</style>